html {
  background-color: #baefff;
  font-family: Lato;
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
}

h1 {
  font-size: 5em;
  font-weight: 900;
  font-style: bold;
}

h2 {
  font-size: 3em;
  font-weight: 300;
  font-style: italic;
}